.a1a{    
    width: 400px;
    height: 500px;
    border: 3px solid black;
}
.a11a{
    background-color: darkgray;
    width:  100px;
    height:  50px;
    border: 3px solid cornflowerblue;
}
.a12a{
    background-color: darkgray;
    width:  100px;
    height:  50px;
    border: 3px solid cornflowerblue;
}
